body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}

header {
  background-color: #f8f8f8;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #800000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  margin-left: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #800000;
  font-size: 1.2rem;
}

main {
  display: flex;
  padding: 20px;
}

.book-reviews-container {
  flex: 3;
}

.book-review {
  display: flex;
  margin-bottom: 40px;
}

.book-details {
  border-right: 1px solid #ddd;
  padding-right: 20px;
  margin-right: 30px;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-details .date {
  font-size: 1.2rem;
}

.book-content {
  flex: 1;
}

.book-content h2 {
  margin-top: 0.5rem;
  color: #800000;
}

.book-content img {
  display: block;
  max-width: 100%;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rating {
  margin-top: 10px;
  color: #ffd700;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 20px;
}

.sidebar h3 {
  margin-top: 0;
  color: #800000;
}
